html {
  @extend %html;
}

body {
  @extend %body;
}

button {
  @extend %button;
}

img {
  @extend %img;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  @extend %a;
}

ul {
  @extend %ul;
}

.container {
  @extend %container;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  @extend %btn;
}

.btn--style {
  @extend %btn--style;
}

.social {
  @extend %social;
  @include FlexJustiAlign();
}

.visually-hidden {
  @extend %visually-hidden;
}
