.header {
  border-bottom: 1px solid #ececec;

  &__flex {
    @include FlexJustiAlign($justify: none);
  }
}

.container__flex {
  @include FlexJustiAlign($justify: none);
}

.logo {
  @extend %logo;

  &--dark {
    color: $BlackTextColor;
  }
}

.nav {
  display: flex;
  margin-left: 93px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $SecondTextColor;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color $TimingFunction;
  }
  &__link:focus,
  &__link:hover {
    color: $AccentColor;
  }
}

.current {
  position: relative;
  color: $AccentColor;

  &::after {
    content: "";
    @include Position(4px);
    border-radius: 2px;
    background-color: $AccentColor;
  }
}

.contact {
  display: flex;
  margin-left: auto;

  & &__item + &__item {
    margin-left: 50px;
  }

  &__item {
    @include FlexJustiAlign($justify: none);
    flex-direction: row-reverse;
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.contact__link {
  @include FlexJustiAlign($justify: none);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $MainTextColor;
  transition: color $TimingFunction;

  &:focus,
  &:hover {
    color: $AccentColor;
  }
}
