.pictures {
  @include FlexWrap();
  margin-top: -30px;
  margin-right: -30px;

  &__item {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-top: 30px;
    flex-grow: 1;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    @include Position(100%);
    text-align: center;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform $TimingFunction;
  }
}

.pictures__text {
  position: absolute;
  top: 63px;
  left: 24px;
  width: 322px;
  text-align: start;
  @include FontSize(18px, 1.56);
  color: $WhiteTextColor;
}

.pictures__link {
  display: block;

  &:hover,
  &:focus {
    @extend %box-shadow-portfolio;
    transition: box-shadow $TimingFunction;
  }

  &:hover .pictures__overlay,
  &:focus .pictures__overlay {
    transform: translateY(0);
  }
}

.pictures__box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

  &--name {
    margin-bottom: 4px;
    color: $SecondTextColor;
    @include FontSize(18px, 2);
    letter-spacing: 0.06em;
  }

  &--project {
    @include FontSize(16px, 1.88);
    color: $MainTextColor;
  }
}
