.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      $BackgroundShadowDark,
      $BackgroundShadowDark
    ),
    url(../imeges/offise.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 700px;
  margin: 0 auto 30px auto;
  color: $WhiteTextColor;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn__hero {
  padding: 10px 32px;

  &:focus,
  &:hover {
    background-color: $BackgroundAccentColor;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  }
}
