.qualities {
  &__list {
    @include FlexWrap();
  }

  &__img {
    @include FlexJustiAlign();
    height: 120px;
    border-radius: 4px;
    background-color: $BackgroundBoxLight;
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: $SecondTextColor;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__text {
    line-height: 1.71;
  }
}

.qualities__item {
  width: 270px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.section {
  &__none {
    padding-top: 0;
  }

  &__title {
    @extend %cards-title;
  }
}

.examples {
  @include FlexWrap();
  margin-top: 50px;

  &__title {
    @include Position(70px);
    @include FlexJustiAlign();
    font-size: 14px;
    text-transform: uppercase;
    color: $WhiteTextColor;
    background-color: rgba(47, 48, 58, 0.8);
  }
}

.examples__pict {
  position: relative;
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
  &:last-child {
    margin-right: 0;
  }
}
