@mixin FlexJustiAlign($justify: center, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin FlexWrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin PaddingAll($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin MarginAll($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin Position($position, $left, $bottom, $width, $height) {
  position: $position;
  left: $left;
  bottom: $bottom;
  width: $width;
  height: $height;
}
