@mixin FlexJustiAlign($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin FlexWrap($wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;
}

@mixin Position($height) {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $height;
}
