$MainTextColor: #757575;
$SecondTextColor: #212121;
$AccentTextColor: #2196f3;
$WhiteTextColor: #ffffff;
$BackgroundBoxDark: #2f303a;
$BackgroundBoxLight: #f5f4fa;
$ColorIconMain: #afb1b8;
$TimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
